@page "/PassengerList/{flightId}"
@inject PassengerService _passengerService;
@inject NavigationManager _navigationManager;
@inject UserService _userService;

@if (Users == null)
{
    <p>Loading...</p>
}
else
{
    @if (Users.FirstOrDefault(user => user.IsLogged == true) == null)
    {
        <h3>You don't have permission to view this page</h3>
    }
    else if (Users.FirstOrDefault(user => user.IsLogged == true).Role == "Admin")
    {
        <h3>Passenger List</h3>
        <a href="/AddPassenger/@flightId" class="btn btn-success">
            <span class="oi oi-plus"></span>
            Add Passenger
        </a>

        @if (passengers == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sex</th>
                        <th>Number Of Luggage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var passenger in passengers)
                    {


                        @if (passenger.FlightId == int.Parse(flightId))
                        {
                            @if (passenger.IsChecked == true)
                            {
                                <tr>
                                    <td>@passenger.FirstName</td>
                                    <td>@passenger.LastName</td>
                                    <td>@passenger.Sex</td>
                                    <td>@passenger.NumberOfLuggage (@passenger.LuggageWeight kg in total)</td>
                                    <td>
                                        <a href="/EditPassenger/@passenger.Id" class="btn btn-primary">
                                            <span class="oi oi-pencil"></span>
                                        </a>
                                        <button type="button" class="btn btn-danger" @onclick="() => DeletePassenger(passenger.Id)">
                                            <span class="oi oi-delete"></span>
                                        </button>

                                        <span class="oi oi-flag"></span>

                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@passenger.FirstName</td>
                                    <td>@passenger.LastName</td>
                                    <td>@passenger.Sex</td>
                                    <td>@passenger.NumberOfLuggage [@passenger.LuggageWeight kg]</td>
                                    <td>
                                        <a href="/EditPassenger/@passenger.Id" class="btn btn-primary">
                                            <span class="oi oi-pencil"></span>
                                        </a>
                                        <button type="button" class="btn btn-danger" @onclick="() => DeletePassenger(passenger.Id)">
                                            <span class="oi oi-delete"></span>
                                        </button>
                                        <a href="/CheckInPassenger/@passenger.Id" class="btn btn-success">
                                            <span class="oi oi-check"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }


                    }

                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" @onclick="Close">
                <span class="oi oi-media-skip-backward"></span>
                Close
            </button>
        }
    }
    else // Else Logged User is CheckIn
    {
        <h3>Passenger List</h3>
        @if (passengers == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Sex</th>
                        <th>Number Of Luggage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var passenger in passengers)
                    {


                        @if (passenger.FlightId == int.Parse(flightId))
                        {
                            @if (passenger.IsChecked == true)
                            {
                                <tr>
                                    <td>@passenger.FirstName</td>
                                    <td>@passenger.LastName</td>
                                    <td>@passenger.Sex</td>
                                    <td>@passenger.NumberOfLuggage (@passenger.LuggageWeight kg in total)</td>
                                    <td>
                                        <span class="oi oi-flag"></span>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@passenger.FirstName</td>
                                    <td>@passenger.LastName</td>
                                    <td>@passenger.Sex</td>
                                    <td>@passenger.NumberOfLuggage [@passenger.LuggageWeight kg]</td>
                                    <td>
                                        <a href="/CheckInPassenger/@passenger.Id" class="btn btn-success">
                                            <span class="oi oi-check"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }


                    }

                </tbody>
            </table>
            <button type="button" class="btn btn-secondary" @onclick="Close">
                <span class="oi oi-media-skip-backward"></span>
                Close
            </button>
        }
    }
}


<ConfirmationDialog @ref="DeleteConfirmationDialog" ConfirmationChanged="@OnDeleteConfirmationSelected" Question="Delete Passenger?"></ConfirmationDialog>

@code {
    private List<Passenger> passengers { get; set; }
    [Parameter]
    public string flightId { get; set; }
    public List<User> Users { get; set; }
    public ConfirmationDialog DeleteConfirmationDialog { get; set; }
    public int SelectedPassengerId { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Users = await _userService.GetUsersAsync();
        passengers = await _passengerService.GetPassengersAsync();
    }
    private void Close()
    {
        _navigationManager.NavigateTo("/");
    }
    private async Task DeletePassenger(int id)
    {
        SelectedPassengerId = id;
        DeleteConfirmationDialog.Show();
    }
    private async Task OnDeleteConfirmationSelected(bool isDeleteConfirmed)
    {
        if (isDeleteConfirmed)
        {
            await _passengerService.DeletePassengerAsync(SelectedPassengerId);
            passengers = await _passengerService.GetPassengersAsync();
        }
    }


}